


.top-footer span{
  color: black;
}

.image10 img {
  display: inline-block;
  border-radius: 10px;
 
 
}

.image10:hover {
  transform: scale(1.1);
  border-radius: 10px;
  transition: all 0.3s;
}

.image10:active {
  transform: scale(1.0);
  border-radius: 10px;
}



body {
  background-color: white;
}
.about,
.single {
    position: relative;
    padding: 90px 0 60px 0;
    background: #f2f2f2;
}

.about .col-md-12,
.about .col-md-6,
.single .col-md-12,
.single .col-md-6 {
    margin-bottom: 30px;
}

.about .about-img,
.single .single-img {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
}

.about .about-img img,
.single .single-img img {
    width: 100%;
}

.about .about-content,
.single .single-content {
    position: relative;
    width: 80%;
    margin: -100px auto 0 auto;
    padding: 30px;
    background: #ffffff;
}

.about .about-content h2,
.single .single-content h2 {
    font-size: 25px;
    font-weight: 700;
}

.about .about-content p,
.single .single-content p {
    font-size: 16px;
    font-weight: 300;
}

.about .btn,
.single .btn {
    font-size: 14px;
    letter-spacing: 1px;
    color: #ffffff;
    background: #df2d2d;
    border-radius: 10;
}

.about .btn:hover,
.single .btn:hover {
    background:  #a13c3c;
    color: white;
}





#enrolled-section {
  opacity: 0;
  transform: translateX(100%);
  transition: opacity 0.5s, transform 0.5s;
}

#enrolled-section.active {
  opacity: 1;
  transform: translateX(0);
}



.col {
  margin-left: 76px;
}

.card .bg-image {
  position: relative;
}

.card .bg-image img {
  transition: transform 0.3s;
}

.card .bg-image:hover img {
  transform: translateX(70px) scale(1.4);
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}

.card .bg-image:active img {
  transform: translateX(40px) scale(1);

}

@keyframes slideIn {
  0% {
    transform: translateY(-100%);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

#topbar {
  animation: slideIn 0.8s ease-in-out;
}

.social-icons {
  display: flex;
  justify-content: flex-end;

}

.social-icons i {
  display: inline-block;
  margin-right: 10px;
  color: rgb(255, 255, 255);
  text-decoration: none;
  transition: color 0.2s;
}

.social-icons i:hover {
  color: #f00;
}


.social-icons i {
  font-size: 20px;
}







@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');






.col-6 {
  margin-right: 105px;
}

h5 {
  animation: fadeInOut 5s linear infinite;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}


.content {
  margin-top: 5px;
}

header nav {
  background: #fff;
  box-shadow: 0px 0px 5px #4444;
}

header nav a.navbar-brand h2 {

  color: var(--bs-orange);
}

header nav ul.action-menu .nav-item .nav-link {
  margin: 0px 20px;
  font-size: 18px;
}

.navbar-toggler {
  outline: none !important;
  outline-color: transparent !important;
  padding: none !important;
  border: none !important;
  border-radius: none !important;

}

@media(max-width: 567px) {}






.fas {
  float: right;
  margin-left: 10px;
  padding-top: 3px;
}

.dropdown-content ul li:hover .enu {
  display: block;
  position: absolute;
  left: 150px;
  top: 0;
  background-color: var(--color-black);
}



p {
  text-align: left;
  margin-left: 100px;
}

.col-2 {
  margin-left: 25px;
}




.dropbtn3 {
  border-color: blue;
  border-radius: 20px;
  background-color: white;
  padding: 0.7rem 2rem;
  margin-right: 2rem;
  font-size: 1.2rem;
  transition: all 0.1s;

}

/* The container <div> - needed to position the dropdown content */
.dropdown3 {
  position: relative;
  display: inline-block;
  margin-left: 32px;
  margin-top: 60px;



}

/* Dropdown Content (Hidden by Default) */
.dropdown-content3 {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content3 a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content3 a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown3:hover .dropdown-content3 {
  display: block;
}

.dropdown3:hover .dropbtn3 {
  background-color: lightgreen;
  color: #000;
  font-weight: bold;
  font-size: 1.2rem;
  transform: scale(0.9);
}




.dropbtn2 {
  border-color: blue;
  border-radius: 20px;
  background-color: white;
  padding: 0.7rem 2rem;
  font-size: 1.2rem;
  transition: all 0.1s;

}

/* The container <div> - needed to position the dropdown content */
.dropdown2 {
  position: relative;
  display: inline-block;
  margin-left: 32px;
  margin-top: 60px;


}

/* Dropdown Content (Hidden by Default) */
.dropdown-content2 {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content2 a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content2 a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown2:hover .dropdown-content2 {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown2:hover .dropbtn2 {
  background-color: lightgreen;
  color: #000;
  font-weight: bold;
  font-size: 1.2rem;
  transform: scale(0.9);
}




.dropbtn1 {
  border-color: blue;
  border-radius: 20px;
  background-color: white;
  padding: 0.7rem 2rem;
  font-size: 1.2rem;
  transition: all 0.1s;

}

/* The container <div> - needed to position the dropdown content */
.dropdown1 {
  position: relative;
  display: inline-block;
  margin-left: 13px;
  margin-top: 60px;


}

/* Dropdown Content (Hidden by Default) */
.dropdown-content1 {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content1 a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content1 a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown1:hover .dropdown-content1 {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown1:hover .dropbtn1 {
  background-color: lightgreen;
  color: #000;
  font-weight: bold;
  font-size: 1.2rem;
  transform: scale(0.9);
}


/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  margin-left: 187px;
  margin-top: 60px;



}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;

}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: lightgreen;
  color: #000;
  font-weight: bold;
  font-size: 1.2rem;
  transform: scale(0.9);
}

.dropbtn {
  border-color: blue;
  border-radius: 20px;
  background-color: white;
  padding: 0.7rem 2rem;
  font-size: 1.2rem;
  margin-right: 20px;
  transition: all 0.1s;

}



.carousel-item {
  width: 100%;
  height: 100vh !important;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.carousel-item::before {
  content: '';
  background-color: rgba(12, 11, 10, 0.5);
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

.carousel-caption {

  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
  top: 40%;
  left: 0;
  right: 0;
}



.carousel-caption h5 {
  color: #fff;
  margin-bottom: 10px;
  font-size: 42px;
  font-weight: 700;
  width: 80%;
  margin: 0px auto 30px auto;
}

.carousel-caption p {

  font-size: 20px;
  width: 80%;
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
  margin: 0px auto 30px auto;
}



h6 {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
  font-family: Georgia, 'Times New Roman', Times, serif;

}

ul {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

img {
  width: 200px;
}


nav { 
  width: 100%;
  height: 80px;
  background-color: rgb(255, 255, 255);
  line-height: 80px;

}

nav ul {
  float: right;
  margin: 0;
  margin-right: 1.9rem;
}

nav ul li {
  list-style-type: none;
  display: inline-block;
}

nav ul li a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  padding: 20px;
  transition: all 0.1s;
}

nav ul li:hover {
  background-color: lightgreen;
  border-radius: 10px;
  color: #000;
  font-weight: bold;
  font-size: 1.1rem;
  transform: scale(0.9);

}
#topbar {
  background-color: orange;
}
.heading {
  margin-left: 230px;
  margin-top: 30px;
}

.main {
  margin-top: 20px;
}

.banner {

  height: 360px;
  margin-top: 20px;
  margin-left: 240px;
  width: 600px;

}

.row {
  margin: 0px;
}

.footer {
  background-color:orange;
  text-align: center;
  flex-direction: row;
  margin-top: 30px;
  color: white;
}

.col-md-4 {
  background-color: rgb(46, 216, 12);
}
.col-2 {margin-left: 460px;
}

.text {
  text-align: center;
  color: whitesmoke;
  margin: 10px 100px 10px;

}


.contact {
  text-align: center;
  margin: 10px 100px 10px;
  background-image: url('images/contact%20image.jpg');

}

h6 {
  text-align: center;
  font-size: 30px;

}



.container2 {
  width: 85vmin;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 290px;
  overflow: hidden;
  border-radius: 10px;
  height: 270px;
  margin-top: 1030px;
  width: 500px;
}

.wrapper1 img {
  animation: zoom 0.5s ease-in-out;

}

@keyframes zoom {
  0% {
    transform: scale(0);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}



.wrapper1 {
  width: 100px;
  display: flex;
  animation: slide 5s infinite;
}

@keyframes slide {
  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(0);
  }

  30% {
    transform: translateX(-100%);
  }

  50% {
    transform: translateX(-100%);
  }

  55% {
    transform: translateX(-200%);
  }

  75% {
    transform: translateX(-200%);
  }

  80% {
    transform: translateX(-300%);
  }

  100% {
    transform: translateX(-300%);
  }



}


@media (max-width: 500px) {

  .banner-box {
    width: 100%;
  }

  .heading {
    width: 100%;
    margin: 0;
    margin-top: 20px;
  }

  .banner {
    width: 100%;
    margin: 0px;
  }


  .container {
    flex-direction: column;
    margin-left: 300px;

  }

  .row {
    flex-direction: column;
    margin-top: 10px;
  }

  .g-0 {
    --bs-gutter-y: 0;
    width: fit-content;
  }

  .col-4 {
    flex: 0 0 auto;
    width: 100%;
  }

  .footer {
    flex-direction: column;
    text-align: center;
    margin: 0px;
  }

  .text {
    width: 100%;
    margin: 0px;


  }

  .r5 {
    float: center;
  }

  .loginform {
    width: 100%;
    margin: 0px;
    margin-bottom: 5px;
  }

  .contact {

    width: 100%;
    margin: 0px;
    margin-bottom: 5px;
  }
}